body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background: url("bg.png"), -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
}
.intro{
  background-color: #4CAF50;
  width: 1400px;
  border: 20px solid green;
  border-radius: 10px;
  color: white;
  padding: 10px 40px;

  text-align: center;
  text-decoration: none;

  font-size: 30px;
  margin: 40px 40px;
}
.button {
  background-color: #4CAF50;
  width: 400px;
  border: 20px solid green;
  border-radius: 10px;
  color: white;
  padding: 20px 5px;

  text-align: center;
  text-decoration: none;
  
  display: inline-block;

  font-size: 30px;
  margin: 40px 40px;
  cursor: pointer;
}
.button:hover {
  background-color: white;
  color: #4CAF50;
}
.header {
  font-size: 42px
}