<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

    <div th:replace="header :: myHeader"></div>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>MUSE: New Questionnaire</title>

</head>

<tbody>

    <br>
    <br>
    
    <div class="row p-2 m-2 g-3"> <h1> Create Questionnaire</h1> </div>
        
    <form class="row p-2 m-2 g-3" action="#" th:action="@{/createQuestionnaire}" method="POST" th:object="${questionnaire}">

        <div class="col-md-3"><label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-lg">Things:</label>
            <div class="mb-3">
                <label class="form-label">Product name</label>
                <input type="text" th:field="*{product}" placeholder="Insert the product name">
              </div>
              <div class="mb-3">
                <label class="form-label">Description</label>
                <input type="text" th:field="*{description}" placeholder="Insert a description for the product">
              </div>
        </div>
        <div class="col-md-3"><label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-lg">Platforms:</label>
            <div>
                <th:block th:each="platform : ${allPlatforms}">
                    <div class="col-md-12">
                        <input type="checkbox" name="choosenPlatforms" th:value="${platform}">
                        <label th:text="${platform.platformString}"></label>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="col-md-3"><label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-lg">Purposes:</label>
            <div>
                <th:block th:each="purpose : ${allPurposes}">
                    <div class="col-md-12">
                        <input type="checkbox" name="choosenPurposes" th:value="${purpose}">
                        <label th:text="${purpose.purposeString}"></label>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="col-md-3"><label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-lg">Usability Aspects:</label>
            <div>
                <th:block th:each="usabilityAspect : ${allUsabilityAspects}">
                    <div class="col-md-12">
                        <input type="checkbox" name="choosenUsabilityAspects" th:value="${usabilityAspect}">
                        <label th:text="${usabilityAspect.usabilityAspectString}"></label>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="col-md-3"><label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-lg">Game Aspects:</label>
            <div>
                <th:block th:each="gameAspect : ${allGameAspects}">
                    <div class="col-md-12">
                        <input type="checkbox" name="choosenGameAspects" th:value="${gameAspect}">
                        <label th:text="${gameAspect.gameAspectString}"></label>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="col-md-3"><label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-lg">Keywords:</label>
            <div>
                <th:block th:each="keyword : ${allKeywords}">
                    <div class="col-md-12">
                        <input type="checkbox" name="choosenKeywords" th:value="${keyword}">
                        <label th:text="${keyword.keywordString}"></label>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="col-md-3"><label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-lg">Development Phases:</label>
            <div>
                <th:block th:each="developmentPhase : ${allDevelopmentPhases}">
                    <div class="col-md-12">
                        <input type="checkbox" name="choosenDevelopmentPhases" th:value="${developmentPhase}">
                        <label th:text="${developmentPhase.developmentPhaseString}"></label>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="col-md-3"><label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-lg">Nielsen Heuristics:</label>
            <div>
                <th:block th:each="nielsenHeuristic : ${allNielsenHeuristics}">
                    <div class="col-md-12">
                        <input type="checkbox" name="choosenNielsenHeuristics" th:value="${nielsenHeuristic}">
                        <label th:text="${nielsenHeuristic.nielsenHeuristicString}"></label>
                    </div>
                </th:block>
            </div>
        </div>

            <a type="button" class="btn btn-default" th:href="@{/main}">Back</a>
            <button type="submit"class="btn btn-primary">Generate</button>

    </form> 
</tbody>

</html>
