<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

  	<head>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>MUSEO: Delivery Management</title>

	</head> 

	<body class="bg-secondary">

		<div class= "container-sm p-5 my-5 border rounded bg-dark bg-gradient text-white" style="width: 1600px;">

			<!-- Add success message -->
			<div th:if="${param.add}">
				<div class="alert alert-success">You've successfully added an User!</div>
			</div>

			<!-- Not valid user message -->
			<div th:if="${param.valid}">
				<div class="alert alert-danger">That is not a valid user!</div>
			</div>

			<!-- User in list message -->
			<div th:if="${param.exists}">
				<div class="alert alert-warning">That user is already on the list!</div>
			</div>

			<div class="table-responsive">

				<p class="d-inline float-end"><small>You are in Main Page -> Questionnaire List -> Delivery Management</small></p>
				<h2 class="text-left">Delivery Management</h2>

				<a href="#info" class="d-inline float-start btn btn-info" style="margin-bottom: 10px;" data-bs-toggle="collapse">+Info</a>
				<div id="info" class="collapse">
					<p>
						<br>
						<br>
						Hi, <span sec:authentication="name">Username</span>!
						<br>
						This is the delivery management page of your questionnaire. What can you do here?    
						<br>
						In the table below, you will see the list of Evaluators you have sent the questionnaire. 
						You can send it to a new user at the bottom right. The Pass Rate shows the 
						percentage of heuristics your questionnaire meets according to the evaluator.
						<br>
						When the evaluator completes the questionnaire, you will be able to see his or her answers.
					</p>
				</div>

				<table class="table table-striped table-bordered table-hover table-dark">
					
					<thead>
					<tr>
						<th>Username</th>
						<th>Pass Rate</th>
						<th>Status</th>
						<th>Show</th>
					</tr>
					</thead>
					<tbody>
						<th:block th:each="element : ${auxMap}">
							<tr>
								<div>
									<td th:text="*{element.value.username}"></td>
								</div>
								<div th:switch="${element.key.filled}">
									<div th:case="${true}">
										<td th:text="*{element.key.coverageRatio}"></td>
										<td>Evaluation Finished.</td>
										<td>
											<a th:href="@{/showFilledQuestionnaire(questionnaireId=${questionnaire.id},ansForm=${true},userId=${element.value.id})}">Show</a>
										</td>
									</div>
									<div th:case="${false}">
										<td>The questionnaire has not been filled yet. </td>
										<td>Being evaluated.</td>
										<td>
											<a class="btn btn-link disabled" th:href="@{/showFilledQuestionnaire(questionnaireId=${questionnaire.id},ansForm=${true},userId=${element.value.id})}">Show</a>
										</td>
									</div>
								</div>               
							</tr>
						</th:block> 
					</tbody>
				</table> 
				
				<form th:action="@{/deliveryManagement}" method="POST">
					<div class="d-inline">

						<a type="button" class="btn btn-primary float-start" th:href="@{/questionnaireList}">Back</a>
						<div class="float-end">
						
							<label class="form-label">Add new evaluator: </label> <!-- Más tarde se podría poner el email si es único -->
							<input type="text" name="evaluator" placeholder="Insert an username to add it to the evaluator list">
		
							<!-- Hidden Attributes -->
							<input type="hidden" name="questionnaireId" th:value="${questionnaire.id}">

							<button class="btn btn-success" style="margin-left: 5px;" type="submit" name="action" value="Add">Add new Evaluator</button>
						</div>
					</div> 
				</form>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	</body>	
</html>
