<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

  <div th:replace="header :: myHeader"></div>

  <title>MUSE: Recipient List</title>

</head> 

<body>

  <br>
  <br>

  <div class= "container">
    <div class= "row">
      <div class="col-md-12" col-md-offset-3>

        <h1>Recipient List</h1>

          <!-- Add success message -->
          <div th:if="${param.add}">
            <div class="alert alert-success">You've successfully added an User!</div>
          </div>

          <!-- Add success message -->
          <div th:if="${param.userError}">
            <div class="alert alert-success">That is not a valid username!</div>
          </div>

          <div class="mb-3">
            <label class="form-label">Product name</label>
            <td th:text="*{questionnaire.product}"></td>
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <td th:text="*{questionnaire.description}"></td>
          </div>

          <table class="table table-striped table-bordered table-hover">
            <caption>List of recipients</caption>
            <thead>
              <tr>
                <th>Username</th>
                <th>Coverage Ratio Percentage</th>
                <th>Show</th>
                <th>Active</th>
              </tr>
            </thead>
            <tbody>
              <th:block th:each="element : ${auxMap}">
                <tr>
                  <div>
                    <td th:text="*{element.value.username}"></td>
                  </div>
                  <div th:switch="${element.key.filled}">
                    <div th:case="${true}">
                      <td th:text="*{element.key.coverageRatio}"></td>
                      <td>
                        <a th:href="@{/showFilledQuestionnaire(questionnaireId=${questionnaire.id},ansForm=${true},userId=${element.value.id})}">Show</a>
                      </td>
                    </div>
                    <div th:case="${false}">
                      <td>The questionnaire have not been completed yet. </td>
                      <td>The questionnaire have not been completed yet. </td>
                    </div>
                  </div> 
                  <td>Aquí ponemos un ratio para el formulario, por lo que hace falta un botón de guardar cambios (Aparte del de enviar)</td>              
                </tr>
              </th:block> 
            </tbody>
          </table> 
        
          <form th:action="@{/deliveryManagement}" method="POST">

            <div align="center" class="col-12">

              <a type="button" class="btn btn-default" th:href="@{/questionnaireList}">Back</a>
              <button type="submit" class="btn btn-success" name="action" value="Save">Save changes</button>
              
              <label class="form-label">Add new recipient: </label> <!-- Más tarde se podría poner el email si es único -->
              <input type="text" name="recipient" placeholder="Insert an username to add it to the recipient list">

              <!-- Hidden Attributes -->
              <input type="hidden" name="questionnaireId" th:value="${questionnaire.id}">

              <th:block th:each="user : ${recipientList}">
                <input type="hidden" name="recipientList" th:value="${user}">
              </th:block>

              <button type="submit" class="btn btn-success" name="action" value="Add">Add new Recipient</button>
            </div> 

          </form>
      </div>
    </div>
  </div>
</body>

</html>
