<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>Header</title>
</head>
    <body>
        <div th:fragment="myHeader">

            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <!-- Bootstrap --> 
            <link rel="stylesheet" 
                href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
                integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
                crossorigin="anonymous">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

            <!-- Create navigation bar (header) -->
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand">Muse WebApp</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/main}">Home</a></li>
                    </ul>

                    <div sec:authorize="hasAuthority('Administrator')">
                        <ul class="nav navbar-nav">
                            <li><a href="#" th:href="@{/questionnaireList}">Questionnaires</a></li>
                        </ul>
                    </div>

                    <div sec:authorize="!isAuthenticated()">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" th:href="@{/register}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="#" th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </ul>
                    </div>

                    <div sec:authorize="isAuthenticated()">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" th:href="@{/showProfile}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                            <li><a href="#" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        </ul>
                    </div>
                        
                    </div>
                </div>
            </nav>
        </div>

    </body>
</html>