<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta charset="ISO-8859-1">
    <title>MUSEO: Main Page</title>

    </head> 

    <body class="bg-secondary">

        <div class= "container-sm p-5 my-5 border rounded bg-dark bg-gradient text-white" style="width: 700px;">
               
            <h1 class="text-center">
                Welcome to Muse Online, <span sec:authentication="name">Username!</span>
            </h1>
            <p>
                Muse Online is a platform that uses the heuristic engine Muse to 
                help people achieve heuristic evaluations on their products. Check down 
                below the diferent options.
                <br>
                <br>
                Questionnaires: A list of your questionnaires. Create new ones, edit them, and send
                them to expert people you know. You can export them to PDF.    
                <br>
                <br>
                Profile: Here you can see and edit your personal information.
                <br>
                <br>
                Log Out: Leave the platform.
            </p>

            <div class = "form-group text-center" style="margin: 20px; display: inline-flexbox;">
                <a class="btn btn-primary btn-lg" href="#" th:href="@{/questionnaireList}">Questionnaires</a>
                <a class="btn btn-primary btn-lg" style="margin-inline: 80px;" href="#" th:href="@{/showProfile}">Profile</a>
                <a class="btn btn-primary btn-lg" href="#" th:href="@{/logout}">Log Out</a> 
            </div>
        </div>
    </body>
</html>