<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

  <div th:replace="header :: myHeader"></div>
  
  <title>MUSE: Questionnaire List</title>

</head> 

<body>

  <br>
  <br>

  <div class= "container">
    <div class= "row">
      <div class="col-md-12" col-md-offset-3>


        <!-- Create success message -->
        <div th:if="${param.create}">
          <div class="alert alert-success">You've successfully created your questionnaire!</div>
        </div>

        <!-- Update success message -->
        <div th:if="${param.update}">
          <div class="alert alert-info">You've successfully changed your questionnaire!</div>
        </div>

        <h1> Questionnaire List</h1>
        <form th:action="@{/questionnaireList}" method="GET">  
          <table class="table table-striped table-bordered table-hover">
            <caption>List of questionnaires</caption>
            <thead>
              <tr>
                <th>Product name</th>
                <th>Description</th>
                <th>Completed</th>
                <th>Filled</th>
                <th>Editar</th>
              </tr>
            </thead>
            <tbody>
              <th:block th:each="questionnaire : ${questionnaireList}">
                <tr>
                  <td th:text="*{questionnaire.product}"></td>
                  <td th:text="*{questionnaire.description}"></td>
                  <td th:text="*{questionnaire.closed}"></td>
                  <td th:text="*{questionnaire.filled}"></td>
                  <td>
                    <a th:href="@{/updateQuestionnaire(questionnaireId=${questionnaire.id})}" th:text="edit"></a>
                  </td>
                </tr>
                </th:block> 
            </tbody>
          </table>     
          <a type="button" class="btn btn-default" th:href="@{/createQuestionnaire}">Create new questionnaire</a> 
        </form>
      </div>
    </div>
  </div>
</body>

</html>
