<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head>
    
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

		<meta charset="ISO-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MUSEO: Register Page</title>

    </head> 

	<body class="bg-secondary">

		<div class= "container-sm p-5 my-5 border rounded bg-dark bg-gradient text-white" style="width: 700px;">

		<h1 class="text-center">Register on Muse Online App</h1>

			<div th:if="${param.success}">
				<div class="alert alert-success" role="alert">
					You have successfully registered! <a href="#" th:href="@{/login}" class="alert-link">Go Login!</a>
				</div>
			</div>

		<form th:action="@{/register}" method="POST" th:object= "${user}">
		
			<div class = "form-group">
				<label class="control-label" for= "name">Name: </label>
				<input id="name" class ="form-control" style="margin: 5px; display: inline-block;"
				th:field="*{name}" placeholder="Name" autofocus="autofocus">
			</div>

			<div class = "form-group">
			<label class="control-label" for= "surnames">Surnames: </label>
			<input id="surnames" class ="form-control" style="margin: 5px; display: inline-block;"
			th:field="*{surnames}" placeholder="Surnames">
			</div>

			<div class = "form-group">
			<label class="control-label" for= "company">Company: </label>
			<input id="company" class = "form-control" style="margin: 5px; display: inline-block;"  
			th:field="*{company}" required placeholder="Company">
			</div>

			<div class = "form-group">
			<label class="control-label" for= "email">Email: </label>
			<input id="email" class = "form-control" style="margin: 5px; display: inline-block;"
			th:field="*{email}" required placeholder="Email">
			</div>

			<div class = "form-group">
				<label class="control-label" for= "username">Username: </label>
				<input id="username" class = "form-control" style="margin: 5px; display: inline-block;"  
				th:field="*{username}" required placeholder="Username">
			</div>
			


			<div class = "form-group">
			<label class="control-label" for= "password">Password: </label>
			<input id="password" class = "form-control" style="margin: 5px; display: inline-block;"
			type="password" th:field="*{password}" required placeholder="Password">
			</div>

			<div class = "form-group text-center" style="margin: 5px;">
				<label class="control-label" style="margin-right: 5px;" for= "role">Select your role on the platform:</label>
				<input type="radio" id="Administrator" name="role" required value="Administrator">
				<label for="Administrator">Administrator</label>
				<input type="radio" id="Evaluator" name="role" value="Evaluator">
				<label for="Evaluator">Evaluator</label>
			</div>

			<div class="form-group text-center">
			<button type="submit" class="btn btn-success btn-lg" style="margin: 10px;">Register!</button> 
			</div>
			
			<div class="form-group text-center">
			<span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
			</div>
		</form>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		
	</body>

</html>

