<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<head>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>MUSEO: Show Questionnaire</title>

    </head>

    <body class="bg-secondary">
        
        <div class= "container-sm p-5 my-5 border rounded bg-dark bg-gradient text-white" style="width: 1600px;">

			<div th:switch="${ansForm}">
				<div th:case="${true}">
					<form th:action="@{/showFilledQuestionnaire}" method="GET" th:object="${questionnaire}">  

						<!-- Hidden Atributes -->
					
						<input type="hidden" th:field="*{id}" name="id" th:value="${id}">
						<input type="hidden" th:field="*{closed}" name="closed" th:value="${closed}"> 
	
						<div class="col-md-12">
							<div class="mb-6">
								<label class="form-label">Product name</label>
								<p type="text" th:text="*{product}">
							</div>
							<div class="mb-6">
								<label class="form-label">Description</label>
								<p type="text" th:text="*{description}"></p>                            
							</div>
						</div>
	
						<table class="table table-striped table-bordered table-hover table-dark">
							<caption>The questionnaire has been filled.</caption>
							<thead>
								<th>These are the results of each heuristic:</th>
							</thead>
							<tbody>
								<th>
									<tr th:each="element : ${auxMap}">
										<td>
											<div th:switch="${element.value.ansString}">
												<div th:case="'Yes'">
													<input type="radio" name="listaFea" th:name="${element.value.id}" value="${element.value.ansString}" th:text='Yes' disabled checked> 
													<input type="radio" name="listaFea" th:name="${element.value.id}" th:value="${element.value.ansString}" th:text='No' disabled> 
													<input type="radio" name="listaFea" th:name="${element.value.id}" th:value="${element.value.ansString}" th:text="N.A" disabled>
													<label th:text="'   ' + ${element.key.heuristicString}"></label>
												</div>
												<div th:case="'No'">
													<input type="radio" name="listaFea" th:name="${element.value.id}" value="${element.value.ansString}" th:text='Yes' disabled> 
													<input type="radio" name="listaFea" th:name="${element.value.id}" th:value="${element.value.ansString}" th:text='No' disabled checked> 
													<input type="radio" name="listaFea" th:name="${element.value.id}" th:value="${element.value.ansString}" th:text="N.A" disabled>
													<label th:text="'   ' + ${element.key.heuristicString}"></label>
												</div>
												<div th:case="'N.A'">
													<input type="radio" th:name="#{element.value.id}" th:value="#{element}" th:text='Yes' disabled> 
													<input type="radio" th:name="#{element.value.id}" th:value="#{element}" th:text='No' disabled> 
													<input type="radio" th:name="#{element.value.id}" th:value="#{element}" th:text="N.A" disabled checked>
													<label th:text="'   ' + #{element.key.heuristicString}"></label> <!-- Así sale feo -->
												</div>
											</div>
										</td>
									</tr>
								</th>
							<tbody>
						</table>

						<a type="button" class="btn btn-primary float-start" th:href="@{/questionnaireList}">Back</a>
					</form>
				</div>

				<div th:case="${false}">

					<form th:action="@{/showQuestionnaire}" method="GET" th:object="${questionnaire}">  

						<div class="table-responsive">

							<p class="d-inline float-end"><small>You are in Main Page -> Questionnaire List -> Show Questionanire</small></p>
							<h2 class="text-left">Show Questionnaire</h2>

							<a href="#info" class="d-inline float-start btn btn-info" style="margin-bottom: 10px;" data-bs-toggle="collapse">+Info</a>
							<div id="info" class="collapse">
								<p>
									<br>
									<br>
									Hi, <span sec:authentication="name">Username</span>!
									<br>
									This is your questionnaire.    
									<br>
									You can no longer edit it, but you may look over the heuristics you have chosen!
								</p>
							</div>

							<!-- Hidden Atributes -->
						
							<input type="hidden" th:field="*{id}" name="id" th:value="${id}">
							<input type="hidden" th:field="*{closed}" name="closed" th:value="${closed}"> 

							<table class="table table-striped table-bordered table-hover table-dark">

								<tbody>
									<tr>
										<td>
											<label class="form-label d-inline">Product name: </label>
											<p class="d-inline" style="margin-left: 10px; margin-bottom: 10px;" type="text" th:text="*{product}"></p>
										</td>
										<td>
											<label class="form-label d-inline" style="margin-left: 50px;">Description: </label>
											<p class="d-inline" style="margin-left: 10px;" type="text" th:text="*{description}"></p>
										</td>
									</tr>
								</tbody>
							</table>
                           		
							<table class="table table-striped table-bordered table-hover table-dark">

								<thead>
									<th>These are the Heuristic you have choosen:</th>
								</thead>
								<tbody>
									<!-- FH que ya estaban seleccionadas -->
									<th:block th:each="heuristic : ${fHSelected}">
										<tr>
											<td type="checkbox" name="choosenFH" th:value="${heuristic}" th:text="' ' + ${heuristic.heuristicString}" checked></td>
										</tr>
									</th:block>
								<tbody>
							</table>

							<a type="button" class="btn btn-primary float-start" th:href="@{/questionnaireList}">Back</a>
						</div>
					</form>
				</div>
			</div>   
        </div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	</body>
</html>

