<!DOCTYPE html>
<head>
<meta charset="ISO-8859-1">
<title>Lista de Heurístiicas</title>

</head>

<body>

    <div align="center">
        <h1> Lista de Heurísticas</h1>
        <table>
            <thead>
                <tr>
                    <th> Número de heurística</th>
                    <th> Descripción</th>
                    <th> Autor</th>
                    <th> Clasificación por autor</th>
                    <th> Origen</th>
                    <th> Año</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="heuristic : ${listHeuristicRaws}">
                    <td th:text="${heuristic.id}"></td>
                    <td th:text="${heuristic.heuristicRawString}"></td>
                    <td th:text="${heuristic.author}"></td>
                    <td th:text="${heuristic.classificationByAuthor}"></td>
                    <td th:text="${heuristic.compiledFrom}"></td>
                    <td th:text="${heuristic.year}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>