<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

  <div th:replace="header :: myHeader"></div>
  
  <title>MUSE: Profile</title>

</head> 

<body>

  <br>
  <br>

  <div class= "container">
    <div class= "row">
      <div class="col-md-12" col-md-offset-3>

        <!-- Success message -->
        <div th:if="${param.success}">
          <div class="alert alert-info">You've successfully changed your profile!</div>
        </div>

        <h1> User Profile</h1>
        <form th:action="@{/updateProfile}" method="POST" th:object= "${user}">

          <input type="hidden" th:field="*{id}" name="id" th:value="${id}">
          <input type="hidden" th:field="*{role}" name="role" th:value="${role}"> 
          <input type="hidden" th:field="*{username}" name="username" th:value="${username}"> 

          <div class = "form-group">
              <label class="control-label" for= "name">Name: </label>
              <input id="name" class = "form-control"  
              th:field="*{name}" placeholder="Name" required autofocus="autofocus">
          </div>

          <div class = "form-group">
            <label class="control-label" for= "name">Surnames: </label>
            <input id="surnames" class = "form-control"  
            th:field="*{surnames}" placeholder="Surnames">
          </div>

          <div class = "form-group">
            <label class="control-label" for= "name">Company: </label>
            <input id="company" class = "form-control"  
            th:field="*{company}" placeholder="Company">
          </div>

          <div class = "form-group">
            <label class="control-label" for= "name">Email: </label>
            <input id="email" class = "form-control"  
            th:field="*{email}" placeholder="Email">
          </div>
          <div class = "form-group">
            <label class="control-label" for= "name">Password: </label>
            <input id="password" class = "form-control" type="password"
            th:field="*{password}" placeholder="Password">
          </div>

          <div class="form-group">
            <a type="button" class="btn btn-default" th:href="@{/showProfile}">Cancel</a> 

            <button type="submit" class="btn btn-success">Save changes</button> 
          </div>
        </form> 
      </div>
    </div>
  </div>
</body>

</html>
